body {
  font-family: 'Lato', sans-serif;
}
.topnav {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 0px 50px 0px;
 
}
a {
  color: black;
  text-decoration: none;
  flex-basis: auto;
  width: 20%;
  
}
.topnav a:hover {
  color: grey;
  font: bolder;
}
.topnav a.active {
  color: black;
  text-decoration: none;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
border-bottom: 2px solid black;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 100;
  font-family: 'Merriweather', serif;
}

.portrait {
  display: flex;
  justify-content: center;
  height: 400px;
  margin-bottom: 30px;
}
.portrait img {
  max-width: 100%;
  height: 100%;
  
}

.info {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
  
}
.portrait, .info {
 
  margin: 0;
}
@media only screen and (min-width: 600px) {
  .info {
    width: 50%;
    margin: 0 auto;
  }
}
